  <!-- var exampleOneData = {name: 'SDCC Hasbro Maximus', status: 'Sold', image: 'http://thumbs.ebaystatic.com/images/g/M9QAAOSwENxXmmqL/s-l225.jpg', low: 200.00, average: 279.00, high: 300}; -->

<div id='item-row'>
  <div id='item-image'><img src={{image}}></div>
  <div id='information'>
    <div id='item-name'>{{name}}</div>
    <div id='item-status'>Status: {{status}}</div>
    <div id='item-low'>Low: ${{low}}</div>
    <div id='item-average'>Average: ${{average}}</div>
    <div id='item-high'>High: ${{high}}</div>
  </div>
  <div id='chart'></div>
</div>